<%= start_form_tag :action => 'send_contact_form'  %>
  
    <h2>Name:</h2>        
    <%= text_field "author", "name" %>
  
    <h2>E-Mail:</h2>
    <%= text_field "author", "email" %>
  
    <h2>Message:</h2>            
    <%= text_area    "author", "message" %><br/>
    
    <%= submit_tag "Send" %>
    
<%= end_form_tag %>