<script>
	function checkForm(){
		var _1=document.getElementById("comment_email").value;
		var _2=document.getElementById("comment_name").value;
		var _3=document.getElementById("comment_message").value;
		var _4=document.getElementById("comment_subject").value;
		if(_1.length==0||_2.length==0||_3.length==0||_4.length==0){
			alert("You must fill every part of this form to continue");
		}else{
			document.getElementById("contact_form").submit();
		}
	}
</script>
<% if flash[:notice] %><div class="green flash"><b>Success:</b> <%= flash[:notice] %></div><br/><% end -%>
<% if flash[:warning] %><div class="red flash"><b>Error:</b> <%= flash[:warning] %></div><br/><% end -%>

<form action="/my_mailer" method="post" id="contact_form">
	<p>Your name <br/>
	<%= text_field 'comment', 'name' , :size => 36 %></p>
	<!-- You might want to make subject a drop down select box -->
	<p>Your inquiry type <br/>
	<%= text_field 'comment', 'subject' , :size => 36 %></p>
	<p>Your Email (is validated)<br/>
	<%= text_field 'comment', 'email' , :size => 36 %></p>
	<p>Your Message <br/>
	<%= text_area 'comment', 'message', :cols => 42, :rows => 9  %></p>
	<br/><br/>
	<!-- Before you submit, check if the values are there -->
	<%= submit_tag 'Report Error', :onclick => 'checkForm();' , :type => 'button' %>
</form>