<%= render 'layouts/promotion' %>
<h1>
Servicios
</h1> 
<p>
<b>Usabi</b> ofrece distintos <b>productos y servicios</b> orientados principalmente 
al desarrollo de aplicaciones <b>web</b> y aplicaciones para dispositivos móviles basados 
en iOS para <b>Iphone y Ipad</b> o la plataforma <b>Android</b>.

A continuación se muestra un listado de servicios y precios estimativos. 
Siempre realizaremos un presupuesto al cliente: 

<div class="columnapeque" style="float: right">
	<%= link_to "Aplicaciones web", aplicacionesweb_path %> <br>
	<%= link_to promocion, aplicacionesweb_path %> 

</div> 
<div class="columnapeque" style="float: left">
	<%= link_to "Aplicaciones para smartphones", appsmartphones_path %><br>
	<%= link_to iphone, appsmartphones_path %> 
</div>
<div class="columnapeque" style="float: right">
	<%= link_to "Paquetes web", paquetesweb_path %><br>
	<%= link_to modulos, paquetesweb_path %> 

</div>
<div class="columnapeque" style="float: left">
	<%= link_to "Servicios web", serviciosweb_path %><br>
	<%= link_to seo, serviciosweb_path %> 

</div>







