<header>
	<nav class="round">
		<ul class="round"> 
			<li class="img"><%= link_to logo, root_path %></li>
			<li><%= link_to "Inicio", root_path %></li> 
			<li><%= link_to "Diseño Web", servicios_path %></li> 
			<li><%= link_to "Portafolio", portafolio_path %></li>
			<li><%= link_to "Contacto", contacto_path %></li>
		</ul> 
	</nav></header>