<header>
	<nav class="round">
		<%= link_to logo, root_path %>
		<ul> <%= link_to "Inicio", root_path %></ul>
		<ul><%= link_to "Servicios", servicios_path %>
			<li><%= link_to "Aplicaciones Web", aplicacionesweb_path %></li> 
			<li><%= link_to "Apps para smartphones", root_path %></li>
			<li><%= link_to "Paquetes web", paquetesweb_path %></li>
			<li><%= link_to "Servicios web", serviciosweb_path %></li>

		</ul>
		<ul> <%= link_to "Contacto", new_support_path %></ul>
	</nav></header>